0.7
/*Sizing definitions*/
* {
font: 18px "Roboto";
}
QFrame#top_bar * {
font-size: 24px;
}
QLabel#bottom_update {
font-size: 24px;
font-weight: bold;
}
QLabel#top_update {
font-size: 24px;
font-weight: bold;
}
QLabel#title {
font-size: 30px;
font-weight: bold;
}
