/*General Styling*/
* {
  font-family: monospace;
  background-color: #32323C;
  color: #00f0c3;
}

/*Button Styling*/
QPushButton {
  padding: 10px 10px;
  font-size: 15px;
  text-align: center;
  outline: none;
  
  border: none;
}
QPushButton:pressed {
  color: #00745a;
}
QPushButton:hover:!pressed{
  color: #00745a;
}

/*Combo Box Styling*/
QComboBox {
  padding: 10px 10px;
  font-size: 15px;
  text-align: center;
  outline: none;
  
  background-color: #252535;
  border: none;
  height: 20px;
}

/*Line Edit Styling*/
QLineEdit {
  padding: 10px 10px;
  font-size: 15px;
  text-align: center;
  border-color: #FFF;
  height: 20px;
}
QLineEdit:hover:!pressed{
  background-color: #151525;
}

/*Text Box Styling*/
QTextBrowser {
  font-size: 15px;
  border: none;
  padding-left: 40px;
  /*border-image: url(Ui/Schematic.png) 0 0 0 0 strech strech;*/
}

/*Removes the border from the scroll area*/
QScrollArea {
  border: none;
}